.quadrado_de_texto1{
    text-align: center;
    margin-top: -23%;
    font-size: 250%;
    background-color: #000;
    text-shadow: 
    -0.7px -0.7px 0px #000,
            -0.7px 0.7px 0px #000,                    
            0.7px -0.7px 0px #000,                 
            0.7px 0px 0px #000;
    margin-left: -1000%;
    padding-top: 0%;
}
.retanguloMeio{
    width: 1306.6px;
    height: 473.3px;
    flex-shrink: 0;
    background-color: #00ffaa;
    margin-top: 30.4%;
    margin-left: -1%;
}
.imagem1{
    margin-top: -37.3%;
    width: 37.388%;
    margin-left: -5%;
}
.Texto{
    text-align: center;
    margin-left: 35%;
    font-size: 600%;
    margin-top: -25%;
}
.quadradoSugestao{
    margin-top: 40%;
    text-align: center;
}
.Texto2{
    font-size: 550%;
    margin-top: -30%;
    text-align: center;
}
.Texto3{
    margin-top: -7%;
    font-size: 375%;
    text-shadow:
    -0.7px -0.7px 0px #000,
            -0.7px 0.7px 0px #000,                    
            0.7px -0.7px 0px #000,                 
            0.7px 0px 0px #000; 
    text-align: center;
}
.botao{
    background-color: #239dd6; 
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    margin-top: 15%;
    margin-left: 38%;
}
@media screen and (max-width: 720px) {
.retanguloMeio{
    width: 119.08%;
    margin-right: -4.5%;
    height: 288.5px;
}
.imagem1{
    width: 50%;
    padding-top: -80%;
    margin-top: -50.05%;
}
.Texto{
    font-size: 315%;
    margin-left: 50%;
    margin-top: -30%;
}
.quadradoSugestao{
    margin-top: 58%;
    text-align: center;
    height: 30%;
}
.Texto2{
    color: #ffffff;
    margin-right: 0%;
    margin-top: -65%;
    font-size: 350%;
}
.botao{
    margin-left: 25%;
    margin-top: 40%;
}
.Texto3{
    margin-top: -15%;
}
}
@media screen and (max-width: 600px) {
.retanguloMeio{
    padding-bottom: -30%;
    height: -400px;
}
.imagem1{
    width: 60%;
    height: 290px;
    margin-top: -59.5%;
}
.Texto{
    margin-top: -40%;
    margin-right: -6%
}
.quadradoSugestao{
    margin-top: 80%;
}
.Texto2{
    margin-top: -95%;
}
.botao{
    margin-top: 50%;
    margin-left: 17.5%;
}
.Texto3{
    margin-top: -17%;
}
}